{% extends "layout.html" %} {% import "sections.html" as s %} {% import "schools/candidate-request.html" as candidate_request %} {% block pageTitle %} Candidate Requests {% endblock %} {% block beforeContent %}  

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a> {% endblock %} {% block content %}

<h1 class="govuk-heading-l">
      Bookings
    </h1>
		
			<fieldset class="govuk-fieldset">

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Status key
    </span>
  </summary>
  <div class="govuk-details__text">
		<table class="govuk-table">
		  <thead class="govuk-table__head">
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="col"></th>
		      <th class="govuk-table__header" scope="col"></th>
		    </tr>
		  </thead>
		  <tbody class="govuk-table__body">
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--available">booked</strong></th>
		      <td class="govuk-table__cell">The candidates request has been accepted and is now booked</td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--unavailable">cancelled</strong></th>
		      <td class="govuk-table__cell">The candidate has cancelled their booking</td>
		    </tr>
		  </tbody>
		</table>
  </div>
</details>

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Show me:
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published" selected>All bookings</option>
    <option value="updated">Cancelled bookings</option>	
  </select>
</div>
<br>

<table class="govuk-table attendance-confirmation">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
			      <th class="header govuk-table__header app-custom-class" scope="col"></th>
            <th class="header govuk-table__header app-custom-class" scope="col">Name</th>
            <th class="header govuk-table__header app-custom-class" scope="col">Date</th>
            <th class="header govuk-table__header app-custom-class" scope="col">Subject</th>
            <th class="header govuk-table__header app-custom-class" scope="col">Status</th>
            <th class="header govuk-table__header app-custom-class" scope="col"></th>
		</tr>
    </thead>
    <tbody class="govuk-table__body">

		<tr class="govuk-table__row">
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">Matthew Richards</td>
            <td class="govuk-table__cell">4 January 2020</td>
            <td class="govuk-table__cell">Biology</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--available">booked</strong>
			</td>
			<td class="govuk-table__cell">
				<a href="/booking/profile-booking1" class="govuk-link">View</a>
			</td>
		</tr>

		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Jacob Sterling</td>
			<td class="govuk-table__cell">10 December 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--unavailable">cancelled</strong>
			</td>
			<td class="govuk-table__cell">
				<a href="/booking/profile-cancelled" class="govuk-link">View</a>
			</td>
		</tr>


		<tr class="govuk-table__row">
			<td class="govuk-table__cell"></td>
			<td class="govuk-table__cell">Ellie Simpson</td>
			<td class="govuk-table__cell">4 December 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--available">booked</strong>
			</td>
			<td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
		</tr>


		<tr class="govuk-table__row">
			<td class="govuk-table__cell"></td>
			<td class="govuk-table__cell">Paul Baker</td>
			<td class="govuk-table__cell">15 November 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell">
					<strong class="govuk-tag govuk-tag--available">booked</strong>
			</td>
			<td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
		</tr>

		<tr class="govuk-table__row">
			<td class="govuk-table__cell"></td>
			<td class="govuk-table__cell">Stacey Curran</td>
			<td class="govuk-table__cell">3 November 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--available">booked</strong>
			</td>
			<td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
		</tr>

		<tr class="govuk-table__row">
			<td class="govuk-table__cell"></td>
			<td class="govuk-table__cell">Diane Smith</td>
			<td class="govuk-table__cell">12 October 2019</td>
			<td class="govuk-table__cell">Art</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--available">booked</strong>
			</td>
			<td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
		</tr>

		<tr class="govuk-table__row">
			<td class="govuk-table__cell"></td>
			<td class="govuk-table__cell">Katy Perry</td>
			<td class="govuk-table__cell">19 September 2019</td>
			<td class="govuk-table__cell">Media studies</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--available">booked</strong>
			</td>
			<td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
		</tr>

		<tr class="govuk-table__row">
			<td class="govuk-table__cell"></td>
			<td class="govuk-table__cell">Jack Hart</td>
			<td class="govuk-table__cell">10 September 2019</td>
			<td class="govuk-table__cell">Maths</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--available">booked</strong>
			</td>
			<td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
		</tr>

		<tr class="govuk-table__row">
			<td class="govuk-table__cell"></td>
			<td class="govuk-table__cell">Carlos Rodriguez</td>
			<td class="govuk-table__cell">08 September 2019</td>
			<td class="govuk-table__cell">Portuguese</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--available">booked</strong>
			</td>
			<td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
		</tr>
  </tbody>
</table>

<nav class="pagination" role="navigation" aria-label="pager">
    
        <span class="page current">
  1
</span>

        <span class="page">
  <a rel="next" href="">2</a>
</span>

        <span class="page">
  <a rel="next" href="">3</a>
</span>



      <span class="next">
  <a rel="next" href="">Next</a>
</span>

  </nav>
<br>
<br>
<p><a class="govuk-button govuk-button" href="/schools/school-dashboard-lean">Return to manage school experience</a></p>


<p><a class="govuk-button govuk-button--warning" href="/schools/school-requests-on-radio">Turn all requests off</a></p>

{% endblock %}

<!--
	      <td class="govuk-table__cell"><a href="/schools/note-jacob" class="govuk-link">Add notes</a></td>
					      <td class="govuk-table__cell"><a href="/schools/note-matthew" class="govuk-link">1 note</a></td>	
									      <td class="govuk-table__cell"><a href="/schools/note-jacob" class="govuk-link">2 notes</a></td>
-->
